In [13]:
# Update sklearn to prevent version mismatches
!pip install sklearn --upgrade

Requirement already up-to-date: sklearn in c:\users\patri\anaconda3\lib\site-packages (0.0)
Requirement already satisfied, skipping upgrade: scikit-learn in c:\users\patri\anaconda3\lib\site-packages (from sklearn) (0.23.2)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in c:\users\patri\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\users\patri\anaconda3\lib\site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\patri\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.18.1)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\patri\anaconda3\lib\site-packages (from scikit-learn->sklearn) (0.14.1)

In [14]:
# install joblib. This will be used to save your model. 
# Restart your kernel after installing 
!pip install joblib

Requirement already satisfied: joblib in c:\users\patri\anaconda3\lib\site-packages (0.14.1)

In [15]:
import pandas as pd

# Read the CSV and Perform Basic Data Cleaning

In [16]:
df = pd.read_csv("output.csv")
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()
df.head()

,Customer ID,"If a customer has bounced in first EMI (1 : Bounced, 0 : Not bounced)",Number of times bounced in recent 12 months,Maximum MOB (Month of business with TVS Credit),Number of times bounced while repaying the loan,EMI,Loan Amount,Tenure,Dealer codes from where customer has purchased the Two wheeler,No of advance EMI paid,...,Geographical Location 3,Geographical Location 4,Housewife,Self-Employed,Salaried,Pensioner,Student,Residence Owned By Office,Residence Owned,Residence Rented
0,1,0,0,24.0,0.0,2432.0,46500.0,24.0,1385.0,0.0,...,0,0,1,0,0,0,0,0,1,0
1,2,0,1,24.0,1.0,1495.0,28168.0,24.0,2496.0,0.0,...,0,0,0,1,0,0,0,0,0,1
2,3,0,0,26.0,0.0,1707.0,38900.0,30.0,1346.0,0.0,...,0,0,0,1,0,0,0,0,0,1
3,4,0,0,24.0,0.0,2128.0,42900.0,24.0,1375.0,2.0,...,0,0,0,0,1,0,0,0,0,1
4,5,0,0,27.0,0.0,1824.0,40900.0,30.0,4140.0,0.0,...,0,0,0,0,1,0,0,0,0,1

In [17]:
df.columns

Index(['Customer ID',
       'If a customer has bounced in first EMI (1 : Bounced, 0 : Not bounced)',
       'Number of times bounced in recent 12 months',
       'Maximum MOB (Month of business with TVS Credit)',
       'Number of times bounced while repaying the loan', 'EMI', 'Loan Amount',
       'Tenure',
       'Dealer codes from where customer has purchased the Two wheeler',
       'No of advance EMI paid', 'Rate of Interest',
       'Gender(Male = 0, Female = 1)',
       'Age at which customer has taken the loan', 'Number of loans',
       ' Number of secured loans', ' Number of unsecured loans',
       'Maximum amount sanctioned in the Live loans',
       'Number of new loans in last 3 months',
       'Total sanctioned amount in the secured Loans which are Live',
       'Total sanctioned amount in the unsecured Loans which are Live',
       'Maximum amount sanctioned for any Two wheeler loan',
       'Time since last Personal loan taken (in months)',
       'Time since first consumer durables loan taken (in months)',
       'Number of times 30 days past due in last 6 months',
       'Number of times 60 days past due in last 6 months',
       'Number of times 90 days past due in last 3 months',
       'Target variable ( 1: Defaulters / 0: Non-Defaulters)', 'Motorcycle',
       'Moped', 'Scooter', 'Geographical Location 1',
       'Geographical Location 2', 'Geographical Location 3',
       'Geographical Location 4', 'Housewife', 'Self-Employed', 'Salaried',
       'Pensioner', 'Student', 'Residence Owned By Office', 'Residence Owned',
       'Residence Rented'],
      dtype='object')

In [18]:
y = df['Target variable ( 1: Defaulters / 0: Non-Defaulters)']
df['Target variable ( 1: Defaulters / 0: Non-Defaulters)'].value_counts()

0    71904
1     1628
Name: Target variable ( 1: Defaulters / 0: Non-Defaulters), dtype: int64

# Select your features (columns)

In [19]:
# Set features. This will also be used as your x values.
selected_features = df[['EMI', 'Loan Amount', 'Maximum amount sanctioned for any Two wheeler loan', 
                       'Age at which customer has taken the loan', 'Rate of Interest', 
                        'Number of times 30 days past due in last 6 months', 'Maximum MOB (Month of business with TVS Credit)',
                       'Number of times 60 days past due in last 6 months', 'Number of loans', 
                        'Maximum amount sanctioned in the Live loans', 'Number of times 90 days past due in last 3 months', 
                       'Tenure', 'Number of times bounced while repaying the loan']]

# Create a Train Test Split

Use `Target variable ( 1: Defaulters / 0: Non-Defaulters)` for the y values

In [20]:
from sklearn.model_selection import train_test_split

X = selected_features

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, train_size=0.8, random_state=15)

In [21]:
X_train.head()

,EMI,Loan Amount,Maximum amount sanctioned for any Two wheeler loan,Age at which customer has taken the loan,Rate of Interest,Number of times 30 days past due in last 6 months,Maximum MOB (Month of business with TVS Credit),Number of times 60 days past due in last 6 months,Number of loans,Maximum amount sanctioned in the Live loans,Number of times 90 days past due in last 3 months,Tenure,Number of times bounced while repaying the loan
72362,2424.0,46900.0,46900.0,26.0,12.00,0,12.0,0,1,0.0,0,24.0,0.0
18336,2709.0,52000.0,115456.0,55.0,12.50,4,16.0,1,6,115456.0,0,24.0,0.0
5785,3020.0,54900.0,54900.0,22.0,16.00,0,19.0,0,2,0.0,0,24.0,0.0
65728,2847.0,32850.0,32850.0,26.0,3.99,0,10.0,0,3,0.0,0,12.0,0.0
13910,1871.0,42000.0,42000.0,26.0,8.99,0,23.0,0,1,0.0,0,27.0,2.0

In [292]:
#set sample weights for training data - used to make the categories weighted roughly equally
#for the gradient-boosted trees
y_sample_weights = y_train.apply(lambda x: 5 if x == 1 else 1)

In [293]:
y_sample_weights.value_counts()

1    57485
5     1340
Name: Target variable ( 1: Defaulters / 0: Non-Defaulters), dtype: int64

# Pre-processing

Scale the data using the MinMaxScaler and perform some feature selection

In [294]:
# Scale your data

#setup MinMaxScaler
from sklearn.preprocessing import MinMaxScaler

#set initial sizing of minmaxscaler using training data
X_scaler = MinMaxScaler().fit(X_train)

#y is just 1 or zero, so no need to scale it!
# y_scaler = MinMaxScaler().fit(y_train)

In [295]:
#use MinMaxScaler to transform the data in the training and test data sets
#so that it is not weighted improperly

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
# y_train_scaled = y_scaler.transform(y_train)
# y_test_scaled = y_scaler.transform(y_test)

# Train the Model

In [296]:
# Create the GridSearchCV model
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import make_scorer

def equi_loans_val(y_true, y_pred, sample_weight=[]):
    valid_predictions = 0
    invalid_predictions = 0
    
    for i in range(0, len(y_pred)):
        if (y_pred[i] == 1):
            if (y_true[i] == 1):
                valid_predictions+=1
            else:
                invalid_predictions+=1
    
    return 5*valid_predictions-invalid_predictions
    
    
my_scorer = make_scorer(equi_loans_val, greater_is_better=True)

#uses a gradient-boosted random forest for this notebook
from sklearn.experimental import enable_hist_gradient_boosting

from sklearn.ensemble import HistGradientBoostingClassifier

classifier = HistGradientBoostingClassifier(max_iter=200, max_depth=8, learning_rate=0.1, scoring=my_scorer)
classifier

HistGradientBoostingClassifier(max_depth=8, max_iter=200,
                               scoring=make_scorer(equi_loans_val))

In [297]:
#create the model using the training data!
classifier.fit(X_train_scaled, y_train, sample_weight=y_sample_weights)

HistGradientBoostingClassifier(max_depth=8, max_iter=200,
                               scoring=make_scorer(equi_loans_val))

In [298]:
print(f"Training Data Score: {classifier.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test_scaled, y_test)}")

Training Data Score: 0.970964725881853
Testing Data Score: 0.9707622220711226

In [299]:
#compare with the test data!
predictions = classifier.predict(X_test_scaled)
print(sum(predictions), sum(y_test))

total = 0

default_num = 0

for i in range(len(predictions)):
    if(predictions[i] == y_test.array[i]):
        total +=1 
        if(predictions[i]==1):
            default_num+=1
        
print(default_num, sum(y_test))
print(total/len(predictions))

306 288
82 288
0.9707622220711226

# Hyperparameter Tuning

Use `GridSearchCV` to tune the model's parameters

In [237]:
#my scorer for grid search function - a little different!
def equi_loans_val(y_true, y_pred, sample_weight=[]):
    valid_predictions = 0
    invalid_predictions = 0
    
    for i in range(0, len(y_pred)):
        if (y_pred[i] == 1):
            if (y_true.array[i] == 1):
                valid_predictions+=1
            else:
                invalid_predictions+=1
    
    return (valid_predictions*5-invalid_predictions)
    
    
my_scorer = make_scorer(equi_loans_val, greater_is_better=True)


# Create the GridSearchCV model
from sklearn.model_selection import GridSearchCV

param_grid = {'learning_rate': [0.05, 0.1],
              'max_leaf_nodes': [31],
             'max_iter': [100, 200],
              'max_depth': [5, 6, 7],
             'l2_regularization': [1, 2, 5]}

grid = GridSearchCV(HistGradientBoostingClassifier(max_iter=200, scoring="recall"), param_grid, n_jobs=-1, scoring="recall")

In [238]:
# Train the model with GridSearch
grid.fit(X_train_scaled, y_train, sample_weight=y_sample_weights)

GridSearchCV(estimator=HistGradientBoostingClassifier(max_iter=200,
                                                      scoring='recall'),
             n_jobs=-1,
             param_grid={'l2_regularization': [1, 2, 5],
                         'learning_rate': [0.05, 0.1], 'max_depth': [5, 6, 7],
                         'max_iter': [100, 200], 'max_leaf_nodes': [31]},
             scoring='recall')

In [239]:
print(grid.best_params_)
print(grid.best_score_)

{'l2_regularization': 1, 'learning_rate': 0.1, 'max_depth': 7, 'max_iter': 100, 'max_leaf_nodes': 31}
0.282089552238806

In [240]:
#compare with the test data!
predictions = grid.predict(X_test_scaled)
print(sum(predictions), sum(y_test))

total = 0

default_num = 0

for i in range(len(predictions)):
    if(predictions[i] == y_test.array[i]):
        total +=1 
        if(predictions[i]==1):
            default_num+=1
        
print(default_num, sum(y_test))
print(total/len(predictions))

363 288
91 288
0.9681104236078059

In [241]:
#check classification report for how the tuned model did!
from sklearn.metrics import classification_report

#still not showing many default cases
print(classification_report(y_test, predictions,
                            target_names=["Non-Default", "Default"]))

              precision    recall  f1-score   support

 Non-Default       0.99      0.98      0.98     14419
     Default       0.25      0.32      0.28       288

    accuracy                           0.97     14707
   macro avg       0.62      0.65      0.63     14707
weighted avg       0.97      0.97      0.97     14707

# Save the Model

In [242]:
# save your model by updating the filename to match the model

import joblib
filename = 'gradient_boost_model-sklearn-recall-only.sav'
joblib.dump(grid, filename)

['gradient_boost_model-sklearn-recall-only.sav']

In [243]:
#overall test
X_scaler = MinMaxScaler().fit(X.copy())

X_overall_scaled = X_scaler.transform(X.copy())

#compare with the test data!
predictions_2 = grid.predict(X_overall_scaled)
print(sum(predictions_2), sum(y))

total = 0

default_num = 0

for i in range(len(predictions_2)):
    if(predictions_2[i] == y.array[i]):
        total +=1 
        if(predictions_2[i]==1):
            default_num+=1
        
print(default_num, sum(y))
print(total/len(predictions_2))

602 1628
199 1628
0.9750856769841701