In [1]:
# Update sklearn to prevent version mismatches
!pip install sklearn --upgrade

Requirement already up-to-date: sklearn in c:\users\patri\anaconda3\lib\site-packages (0.0)
Requirement already satisfied, skipping upgrade: scikit-learn in c:\users\patri\anaconda3\lib\site-packages (from sklearn) (0.22.1)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\patri\anaconda3\lib\site-packages (from scikit-learn->sklearn) (0.14.1)
Requirement already satisfied, skipping upgrade: scipy>=0.17.0 in c:\users\patri\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied, skipping upgrade: numpy>=1.11.0 in c:\users\patri\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.18.1)

In [2]:
# install joblib. This will be used to save your model. 
# Restart your kernel after installing 
!pip install joblib

Requirement already satisfied: joblib in c:\users\patri\anaconda3\lib\site-packages (0.14.1)

In [3]:
import pandas as pd

# Read the CSV and Perform Basic Data Cleaning

In [4]:
df = pd.read_csv("output.csv")
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()
df.head()

,Customer ID,"If a customer has bounced in first EMI (1 : Bounced, 0 : Not bounced)",Number of times bounced in recent 12 months,Maximum MOB (Month of business with TVS Credit),Number of times bounced while repaying the loan,EMI,Loan Amount,Tenure,Dealer codes from where customer has purchased the Two wheeler,No of advance EMI paid,...,Geographical Location 3,Geographical Location 4,Housewife,Self-Employed,Salaried,Pensioner,Student,Residence Owned By Office,Residence Owned,Residence Rented
0,1,0,0,24.0,0.0,2432.0,46500.0,24.0,1385.0,0.0,...,0,0,1,0,0,0,0,0,1,0
1,2,0,1,24.0,1.0,1495.0,28168.0,24.0,2496.0,0.0,...,0,0,0,1,0,0,0,0,0,1
2,3,0,0,26.0,0.0,1707.0,38900.0,30.0,1346.0,0.0,...,0,0,0,1,0,0,0,0,0,1
3,4,0,0,24.0,0.0,2128.0,42900.0,24.0,1375.0,2.0,...,0,0,0,0,1,0,0,0,0,1
4,5,0,0,27.0,0.0,1824.0,40900.0,30.0,4140.0,0.0,...,0,0,0,0,1,0,0,0,0,1

In [5]:
df.columns

Index(['Customer ID',
       'If a customer has bounced in first EMI (1 : Bounced, 0 : Not bounced)',
       'Number of times bounced in recent 12 months',
       'Maximum MOB (Month of business with TVS Credit)',
       'Number of times bounced while repaying the loan', 'EMI', 'Loan Amount',
       'Tenure',
       'Dealer codes from where customer has purchased the Two wheeler',
       'No of advance EMI paid', 'Rate of Interest',
       'Gender(Male = 0, Female = 1)',
       'Age at which customer has taken the loan', 'Number of loans',
       'Â Number of secured loans', 'Â Number of unsecured loans',
       'Maximum amount sanctioned in the Live loans',
       'Number of new loans in last 3 months',
       'Total sanctioned amount in the secured Loans which are Live',
       'Total sanctioned amount in the unsecured Loans which are Live',
       'Maximum amount sanctioned for any Two wheeler loan',
       'Time since last Personal loan taken (in months)',
       'Time since first consumer durables loan taken (in months)',
       'Number of times 30 days past due in last 6 months',
       'Number of times 60 days past due in last 6 months',
       'Number of times 90 days past due in last 3 months',
       'Target variable ( 1: Defaulters / 0: Non-Defaulters)', 'Motorcycle',
       'Moped', 'Scooter', 'Geographical Location 1',
       'Geographical Location 2', 'Geographical Location 3',
       'Geographical Location 4', 'Housewife', 'Self-Employed', 'Salaried',
       'Pensioner', 'Student', 'Residence Owned By Office', 'Residence Owned',
       'Residence Rented'],
      dtype='object')

In [6]:
y = df['Target variable ( 1: Defaulters / 0: Non-Defaulters)']
df['Target variable ( 1: Defaulters / 0: Non-Defaulters)'].value_counts()

0    71904
1     1628
Name: Target variable ( 1: Defaulters / 0: Non-Defaulters), dtype: int64

# Select your features (columns)

In [7]:
# Set features. This will also be used as your x values.
selected_features = df[['EMI', 'Loan Amount', 'Maximum amount sanctioned for any Two wheeler loan', 
                       'Age at which customer has taken the loan', 'Rate of Interest', 
                        'Number of times 30 days past due in last 6 months', 'Maximum MOB (Month of business with TVS Credit)',
                       'Number of times 60 days past due in last 6 months', 'Number of loans', 
                        'Maximum amount sanctioned in the Live loans', 'Number of times 90 days past due in last 3 months', 
                       'Tenure', 'Number of times bounced while repaying the loan']]

# Create a Train Test Split

Use `Target variable ( 1: Defaulters / 0: Non-Defaulters)` for the y values

In [127]:
from sklearn.model_selection import train_test_split

X = selected_features

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, train_size=0.8, random_state=15)

In [128]:
X_train.head()

,EMI,Loan Amount,Maximum amount sanctioned for any Two wheeler loan,Age at which customer has taken the loan,Rate of Interest,Number of times 30 days past due in last 6 months,Maximum MOB (Month of business with TVS Credit),Number of times 60 days past due in last 6 months,Number of loans,Maximum amount sanctioned in the Live loans,Number of times 90 days past due in last 3 months,Tenure,Number of times bounced while repaying the loan
72362,2424.0,46900.0,46900.0,26.0,12.00,0,12.0,0,1,0.0,0,24.0,0.0
18336,2709.0,52000.0,115456.0,55.0,12.50,4,16.0,1,6,115456.0,0,24.0,0.0
5785,3020.0,54900.0,54900.0,22.0,16.00,0,19.0,0,2,0.0,0,24.0,0.0
65728,2847.0,32850.0,32850.0,26.0,3.99,0,10.0,0,3,0.0,0,12.0,0.0
13910,1871.0,42000.0,42000.0,26.0,8.99,0,23.0,0,1,0.0,0,27.0,2.0

# Pre-processing

Scale the data using the MinMaxScaler and perform some feature selection

In [129]:
# Scale your data

#setup MinMaxScaler
from sklearn.preprocessing import MinMaxScaler

#set initial sizing of minmaxscaler using training data
X_scaler = MinMaxScaler().fit(X_train)

#y is just 1 or zero, so no need to scale it!
# y_scaler = MinMaxScaler().fit(y_train)

In [130]:
#use MinMaxScaler to transform the data in the training and test data sets
#so that it is not weighted improperly

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
# y_train_scaled = y_scaler.transform(y_train)
# y_test_scaled = y_scaler.transform(y_test)

# Train the Model

In [106]:
#uses a gradient-boosted random forest for this notebook
from sklearn.experimental import enable_hist_gradient_boosting

from sklearn.ensemble import HistGradientBoostingClassifier

classifier = HistGradientBoostingClassifier(max_iter=200, scoring='recall', )
classifier

HistGradientBoostingClassifier(l2_regularization=0.0, learning_rate=0.1,
                               loss='auto', max_bins=255, max_depth=None,
                               max_iter=200, max_leaf_nodes=31,
                               min_samples_leaf=20, n_iter_no_change=None,
                               random_state=None, scoring='recall', tol=1e-07,
                               validation_fraction=0.1, verbose=0,
                               warm_start=False)

In [107]:
#create the model using the training data!
classifier.fit(X_train_scaled, y_train)

HistGradientBoostingClassifier(l2_regularization=0.0, learning_rate=0.1,
                               loss='auto', max_bins=255, max_depth=None,
                               max_iter=200, max_leaf_nodes=31,
                               min_samples_leaf=20, n_iter_no_change=None,
                               random_state=None, scoring='recall', tol=1e-07,
                               validation_fraction=0.1, verbose=0,
                               warm_start=False)

In [131]:
print(f"Training Data Score: {classifier.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test_scaled, y_test)}")

Training Data Score: 0.9790565235869103
Testing Data Score: 0.9810974365948187

In [126]:
#compare with the test data!
predictions = classifier.predict(X_test_scaled)
print(sum(predictions), sum(y_test))

total = 0

default_num = 0

for i in range(len(predictions)):
    if(predictions[i] == y_test.array[i]):
        total +=1 
        if(predictions[i]==1):
            default_num+=1
        
print(default_num, sum(y_test))
print(total/len(predictions))

10 340
8 340
0.9772897259808254

# Hyperparameter Tuning

Use `GridSearchCV` to tune the model's parameters

In [115]:
# Create the GridSearchCV model
from sklearn.model_selection import GridSearchCV

param_grid = {'learning_rate': [0.1, 0.25, 0.5, 0.75, 1],
              'max_leaf_nodes': [31],
             'max_iter': [100, 200, 300, 500],
             'l2_regularization': [0, 1, 10]}

grid = GridSearchCV(classifier, param_grid, n_jobs=-1, scoring='f1')

In [116]:
# Train the model with GridSearch
grid.fit(X_train_scaled, y_train)

C:\Users\patri\anaconda3\lib\site-packages\joblib\externals\loky\process_executor.py:706: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning

GridSearchCV(cv=None, error_score=nan,
             estimator=HistGradientBoostingClassifier(l2_regularization=0.0,
                                                      learning_rate=0.1,
                                                      loss='auto', max_bins=255,
                                                      max_depth=None,
                                                      max_iter=200,
                                                      max_leaf_nodes=31,
                                                      min_samples_leaf=20,
                                                      n_iter_no_change=None,
                                                      random_state=None,
                                                      scoring='recall',
                                                      tol=1e-07,
                                                      validation_fraction=0.1,
                                                      verbose=0,
                                                      warm_start=False),
             iid='deprecated', n_jobs=-1,
             param_grid={'l2_regularization': [0, 1, 10],
                         'learning_rate': [0.1, 0.25, 0.5, 0.75, 1],
                         'max_iter': [100, 200, 300, 500],
                         'max_leaf_nodes': [31]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='f1', verbose=0)

In [117]:
print(grid.best_params_)
print(grid.best_score_)

{'l2_regularization': 1, 'learning_rate': 1, 'max_iter': 200, 'max_leaf_nodes': 31}
0.16913414492241985

In [118]:
#compare with the test data!
predictions = grid.predict(X_test_scaled)
print(sum(predictions), sum(y_test))

total = 0

default_num = 0

for i in range(len(predictions)):
    if(predictions[i] == y_test.array[i]):
        total +=1 
        if(predictions[i]==1):
            default_num+=1
        
print(default_num, sum(y_test))
print(total/len(predictions))

258 352
49 352
0.9651866458149181

In [119]:
#check classification report for how the tuned model did!
from sklearn.metrics import classification_report

#still not showing many default cases
print(classification_report(y_test, predictions,
                            target_names=["Non-Default", "Default"]))

              precision    recall  f1-score   support

 Non-Default       0.98      0.99      0.98     14355
     Default       0.19      0.14      0.16       352

    accuracy                           0.97     14707
   macro avg       0.58      0.56      0.57     14707
weighted avg       0.96      0.97      0.96     14707

# Save the Model

In [120]:
# save your model by updating the filename to match the model

import joblib
filename = 'gradient_boost_model.sav'
joblib.dump(grid, filename)

['gradient_boost_model.sav']