In [1]:
import pandas as pd

In [2]:
test_data = pd.read_csv("./TVS.csv", encoding = 'utf-8')

D:\Users\9csic\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (9,12,13,14,15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
test_data

,Customer ID,"If a customer has bounced in first EMI (1 : Bounced, 0 : Not bounced)",Number of times bounced in recent 12 months,Maximum MOB (Month of business with TVS Credit),Number of times bounced while repaying the loan,EMI,Loan Amount,Tenure,Dealer codes from where customer has purchased the Two wheeler,"Product code of Two wheeler (MC : Motorcycle , MO : Moped, SC : Scooter)",...,Total sanctioned amount in the secured Loans which are Live,Total sanctioned amount in the unsecured Loans which are Live,Maximum amount sanctioned for any Two wheeler loan,Time since last Personal loan taken (in months),Time since first consumer durables loan taken (in months),Number of times 30 days past due in last 6 months,Number of times 60 days past due in last 6 months,Number of times 90 days past due in last 3 months,Tier ; (Customer’s geographical location),Target variable ( 1: Defaulters / 0: Non-Defaulters)
0,1,0,0,24.0,0.0,2432.0,46500.0,24.0,1385.0,SC,...,NaN,NaN,46500.0,NaN,NaN,0,0,0,TIER 1,0
1,2,0,1,24.0,1.0,1495.0,28168.0,24.0,2496.0,MO,...,NaN,NaN,28168.0,NaN,NaN,0,0,0,TIER 1,0
2,3,0,0,26.0,0.0,1707.0,38900.0,30.0,1346.0,SC,...,NaN,105000.0,38900.0,34.0,31.0,31,31,16,TIER 1,0
3,4,0,0,24.0,0.0,2128.0,42900.0,24.0,1375.0,SC,...,NaN,NaN,42900.0,NaN,NaN,0,0,0,TIER 1,0
4,5,0,0,27.0,0.0,1824.0,40900.0,30.0,4140.0,MC,...,NaN,NaN,40900.0,NaN,NaN,0,0,0,TIER 1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119523,119524,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,0,0,TIER 3,0
119524,119525,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,33000.0,NaN,NaN,3,1,0,TIER 3,1
119525,119526,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,0,0,TIER 3,0
119526,119527,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,31990.0,43600.0,NaN,13.0,0,0,0,TIER 1,0
119527,119528,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,49900.0,NaN,30.0,4,3,0,TIER 2,0

In [4]:
test_data['Time since last Personal loan taken (in months)'] = test_data['Time since last Personal loan taken (in months)'].fillna(0)
test_data['Time since first consumer durables loan taken (in months)'] = test_data['Time since first consumer durables loan taken (in months)'].fillna(0)
test_data['Total sanctioned amount in the secured Loans which are Live'] = test_data['Total sanctioned amount in the secured Loans which are Live'].fillna(0)
test_data['Total sanctioned amount in the unsecured Loans which are Live'] = test_data['Total sanctioned amount in the unsecured Loans which are Live'].fillna(0)
test_data['Maximum amount sanctioned in the Live loans'] = test_data['Maximum amount sanctioned in the Live loans'].fillna(0)

In [5]:
new_test_data = test_data.dropna()
new_test_data

,Customer ID,"If a customer has bounced in first EMI (1 : Bounced, 0 : Not bounced)",Number of times bounced in recent 12 months,Maximum MOB (Month of business with TVS Credit),Number of times bounced while repaying the loan,EMI,Loan Amount,Tenure,Dealer codes from where customer has purchased the Two wheeler,"Product code of Two wheeler (MC : Motorcycle , MO : Moped, SC : Scooter)",...,Total sanctioned amount in the secured Loans which are Live,Total sanctioned amount in the unsecured Loans which are Live,Maximum amount sanctioned for any Two wheeler loan,Time since last Personal loan taken (in months),Time since first consumer durables loan taken (in months),Number of times 30 days past due in last 6 months,Number of times 60 days past due in last 6 months,Number of times 90 days past due in last 3 months,Tier ; (Customer’s geographical location),Target variable ( 1: Defaulters / 0: Non-Defaulters)
0,1,0,0,24.0,0.0,2432.0,46500.0,24.0,1385.0,SC,...,0.0,0.0,46500.0,0.0,0.0,0,0,0,TIER 1,0
1,2,0,1,24.0,1.0,1495.0,28168.0,24.0,2496.0,MO,...,0.0,0.0,28168.0,0.0,0.0,0,0,0,TIER 1,0
2,3,0,0,26.0,0.0,1707.0,38900.0,30.0,1346.0,SC,...,0.0,105000.0,38900.0,34.0,31.0,31,31,16,TIER 1,0
3,4,0,0,24.0,0.0,2128.0,42900.0,24.0,1375.0,SC,...,0.0,0.0,42900.0,0.0,0.0,0,0,0,TIER 1,0
4,5,0,0,27.0,0.0,1824.0,40900.0,30.0,4140.0,MC,...,0.0,0.0,40900.0,0.0,0.0,0,0,0,TIER 1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85043,85044,0,0,14.0,0.0,2941.0,47900.0,18.0,1375.0,SC,...,0.0,160400.0,47900.0,77.0,0.0,5,3,0,TIER 1,0
85044,85045,0,0,10.0,0.0,2870.0,41000.0,15.0,20061.0,MC,...,0.0,0.0,41000.0,0.0,0.0,0,0,0,TIER 4,0
85045,85046,0,0,10.0,0.0,2720.0,28350.0,12.0,3982.0,MO,...,0.0,32000.0,28350.0,0.0,0.0,6,6,3,TIER 2,0
85046,85047,0,0,8.0,0.0,3500.0,50000.0,15.0,1151.0,SC,...,0.0,0.0,50000.0,0.0,0.0,0,0,0,TIER 3,0
85047,85048,0,0,8.0,0.0,2750.0,27500.0,10.0,1013.0,MO,...,0.0,0.0,27500.0,0.0,0.0,0,0,0,TIER 4,0

In [6]:
new_test_data.groupby(['Target variable ( 1: Defaulters / 0: Non-Defaulters)']).count()

,Customer ID,"If a customer has bounced in first EMI (1 : Bounced, 0 : Not bounced)",Number of times bounced in recent 12 months,Maximum MOB (Month of business with TVS Credit),Number of times bounced while repaying the loan,EMI,Loan Amount,Tenure,Dealer codes from where customer has purchased the Two wheeler,"Product code of Two wheeler (MC : Motorcycle , MO : Moped, SC : Scooter)",...,Number of new loans in last 3 months,Total sanctioned amount in the secured Loans which are Live,Total sanctioned amount in the unsecured Loans which are Live,Maximum amount sanctioned for any Two wheeler loan,Time since last Personal loan taken (in months),Time since first consumer durables loan taken (in months),Number of times 30 days past due in last 6 months,Number of times 60 days past due in last 6 months,Number of times 90 days past due in last 3 months,Tier ; (Customer’s geographical location)
Target variable ( 1: Defaulters / 0: Non-Defaulters),,,,,,,,,,,,,,,,,,,,,
0,71904,71904,71904,71904,71904,71904,71904,71904,71904,71904,...,71904,71904,71904,71904,71904,71904,71904,71904,71904,71904
1,1628,1628,1628,1628,1628,1628,1628,1628,1628,1628,...,1628,1628,1628,1628,1628,1628,1628,1628,1628,1628