In [1]:
# Update sklearn to prevent version mismatches
!pip install sklearn --upgrade

%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

Requirement already up-to-date: sklearn in c:\programdata\anaconda3\lib\site-packages (0.0)
Requirement already satisfied, skipping upgrade: scikit-learn in c:\programdata\anaconda3\lib\site-packages (from sklearn) (0.22.1)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn->sklearn) (0.14.1)
Requirement already satisfied, skipping upgrade: scipy>=0.17.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied, skipping upgrade: numpy>=1.11.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.18.1)

# Import Data

In [2]:
#Import cleaned csv file
data = pd.read_csv("output.csv")
data.columns

Index(['Customer ID',
       'If a customer has bounced in first EMI (1 : Bounced, 0 : Not bounced)',
       'Number of times bounced in recent 12 months',
       'Maximum MOB (Month of business with TVS Credit)',
       'Number of times bounced while repaying the loan', 'EMI', 'Loan Amount',
       'Tenure',
       'Dealer codes from where customer has purchased the Two wheeler',
       'No of advance EMI paid', 'Rate of Interest',
       'Gender(Male = 0, Female = 1)',
       'Age at which customer has taken the loan', 'Number of loans',
       ' Number of secured loans', ' Number of unsecured loans',
       'Maximum amount sanctioned in the Live loans',
       'Number of new loans in last 3 months',
       'Total sanctioned amount in the secured Loans which are Live',
       'Total sanctioned amount in the unsecured Loans which are Live',
       'Maximum amount sanctioned for any Two wheeler loan',
       'Time since last Personal loan taken (in months)',
       'Time since first consumer durables loan taken (in months)',
       'Number of times 30 days past due in last 6 months',
       'Number of times 60 days past due in last 6 months',
       'Number of times 90 days past due in last 3 months',
       'Target variable ( 1: Defaulters / 0: Non-Defaulters)', 'Motorcycle',
       'Moped', 'Scooter', 'Geographical Location 1',
       'Geographical Location 2', 'Geographical Location 3',
       'Geographical Location 4', 'Housewife', 'Self-Employed', 'Salaried',
       'Pensioner', 'Student', 'Residence Owned By Office', 'Residence Owned',
       'Residence Rented'],
      dtype='object')

In [3]:
#Select only relevant columns
model_data = data[[
    'EMI', 
    'Loan Amount', 
    'Maximum amount sanctioned for any Two wheeler loan',
    'Age at which customer has taken the loan', 
    'Rate of Interest', 
    'Number of times 30 days past due in last 6 months', 
    'Maximum MOB (Month of business with TVS Credit)', 
    'Number of times 60 days past due in last 6 months', 
    'Number of loans', 
    'Maximum amount sanctioned in the Live loans', 
    'Number of times 90 days past due in last 3 months', 
    'Tenure', 
    'Number of times bounced while repaying the loan',
    'Target variable ( 1: Defaulters / 0: Non-Defaulters)'
]]

In [14]:
#Rename Dependent Variable Column to "Class"
model_data = model_data.rename(columns={"Target variable ( 1: Defaulters / 0: Non-Defaulters)": "Class"})
model_data.head()

,EMI,Loan Amount,Maximum amount sanctioned for any Two wheeler loan,Age at which customer has taken the loan,Rate of Interest,Number of times 30 days past due in last 6 months,Maximum MOB (Month of business with TVS Credit),Number of times 60 days past due in last 6 months,Number of loans,Maximum amount sanctioned in the Live loans,Number of times 90 days past due in last 3 months,Tenure,Number of times bounced while repaying the loan,Class
0,2432.0,46500.0,46500.0,40.0,12.75,0,24.0,0,1,0.0,0,24.0,0.0,0
1,1495.0,28168.0,28168.0,47.0,13.65,0,24.0,0,1,0.0,0,24.0,1.0,0
2,1707.0,38900.0,38900.0,31.0,12.65,31,26.0,31,9,55000.0,16,30.0,0.0,0
3,2128.0,42900.0,42900.0,24.0,9.50,0,24.0,0,1,0.0,0,24.0,0.0,0
4,1824.0,40900.0,40900.0,30.0,13.50,0,27.0,0,1,0.0,0,30.0,0.0,0

# Train the Model

In [33]:
# Assign X (data) and y (target)
X = model_data.drop('Class', axis=1)
y = model_data['Class']
print(f"X Shape: {X.shape}")
print(f"y Shape: {y.shape}")

X Shape: (73532, 13)
y Shape: (73532,)

In [34]:
#Train Test Split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, train_size=0.70, random_state=10)

#Resample Data using Oversampling Technique

In [42]:
# concatenate our training data back together
X = pd.concat([X_train, y_train], axis=1)

# separate minority and majority classes
not_defaulted = X[X.Class==0]
defaulted = X[X.Class==1]

print(not_defaulted.Class.value_counts())
print(defaulted.Class.value_counts())

0    50313
Name: Class, dtype: int64
1    50313
Name: Class, dtype: int64

In [43]:
from sklearn.utils import resample
# upsample minority
defaulted_upsampled = resample(defaulted,
                               replace=True,
                               n_samples=len(not_defaulted),
                               random_state=27)
# combine majority and upsampled minority
upsampled = pd.concat([not_defaulted, defaulted_upsampled])
upsampled.Class.value_counts()
#upsampled.Class.value_counts()

1    50313
0    50313
Name: Class, dtype: int64

In [44]:
y_train = upsampled.Class
X_train = upsampled.drop('Class', axis=1)

In [45]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [46]:
classifier.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [47]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.6447240275873035
Testing Data Score: 0.7027198549410698

In [48]:
predictions = classifier.predict(X_test)
head_10 = predictions[:10]
print(head_10)

[0 0 0 0 1 0 0 0 0 0]